@media (max-width: 470px) {
  body {
    width: 100%;
  }

  #headerwrap {
    margin: auto;
    text-align: center;
  }

  div.profile {
    margin: auto;
  }

  img {
    display: block;
    margin-left: 0 auto;
    margin-right: 0 auto;
  }

  .contact,
  .resume {
    text-align: center;
    margin-bottom: 9px;
  }

  aside {
    margin-top: 20px;
  }

  div.detail {
    margin-top: 15px;
  }

  #social {
    margin: auto;
    text-align: center;
  }

  #workwrap {
    margin: auto;
    text-align: center;
  }

  #contactwrap h1 {
    font-size: 35px;
    text-align: center;
    margin-left: auto;
    margin-top: 100px;
  }

  h1#projetTitle {
    font-size: 60px;
    text-align: center;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .row.centered.mt.mb {
    width: 100%;
  }

  .col-md-7,
  .col-lg-10.col-lg-offset-1, .col-md-8.col-md-offset-2 {
    margin-right: 15px;
  }
}
